html {
  font-size: 10px;
  font-family: $main-typo;
}

body {
  background: $blue-main;
  margin: 0;
}

h1 {
  color: $white;
  font-size: $typo-x;
  margin: 0;
}

.cursor{
  cursor: pointer;
}

.bottom {
  margin-top: 7rem;
  position: relative;
}

.bottom__text {
  color: $white;
  font-size: $typo-s;
  padding-bottom: 3rem;
  position: absolute;
  right: 7rem;
}

.header{
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 92%;
}

.header__content{
  display: flex;
  justify-content: space-between;
  img{
    width: 50%;
  }
}
