@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap");
html {
  margin: 0;
  font-size: 10px;
  font-family: "Manrope", sans-serif; }

body {
  background: #2A2438; }

.img__cursor {
  cursor: pointer; }

.active {
  background-image: url(../../img/stop-button.png); }

header {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 90%;
  padding-bottom: 2rem;
  width: 100%; }

.header__content {
  display: flex;
  justify-content: space-between; }

#musicPlayerCanvas {
  border-radius: 2rem;
  margin-bottom: 2rem; }

.musicPlayer__controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  transition: 5s all; }

.music__player--title {
  color: #FFFF;
  font-size: 2.5rem; }
  .music__player--title span {
    color: #59C170; }

.img__user {
  height: 45%; }

.wrapper {
  max-width: 108rem;
  margin: 0 auto; }
