<<<<<<< HEAD
.active{
    background-image: url(../../img/stop-button.png);
}

=======
>>>>>>> be39c3b772ff9da4d2132ed4a3895fb1598a1e00
.header{
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 90%;
    padding-bottom: 2rem;
    width: 100%;
}

.header__content{
    display: flex;
    justify-content: space-between;
}



#musicPlayerCanvas{
    border-radius: 2rem;
    margin-bottom: 2rem;
}


.musicPlayer__controls{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    button{
        border: none;
        background: none;
    }
}


.music__player--title{
    color: $white;
    font-size:$typo-l;
    span{
        color: $green;
    }
}

.modal{
    background-color: $lila;
    border-radius: 2rem;
    display: none;
    position: absolute;
    top: 40rem;
    transform: translate(50%,-50%);
    width: 40rem;
    z-index: 1;
}

.modal__content{
    margin: 0 auto;
    width: 95%;
}

.modal__content--newPlaylist{
    margin-bottom: 4rem;
    input{
        width: 22rem;
        border-radius: 4rem;
        border: none;
    }
    button{
        background-color: $green;
        border: none;
        border-radius: .4rem;
        color: $white;
        margin-top: 2rem;
        padding: 1rem;
        width: 10rem;
        &:hover{
            background-color: rgb(85, 72, 161);
        }
    }
}

.modal__content--title{
    color: $white;
    font-size: $typo-x;
    letter-spacing: .1rem;
    margin-top: 1rem;
}

.modal__content--playlist{
    background-color: $blue-main;
    border-radius: 2rem;
    color: white;
    font-size: $typo-xs;
    width: 100%;
    margin-bottom: 2rem;
    &:hover{
        border: 2px solid $white;
    }
    p{
        font-size: $typo-xs;
        margin: 0;
        padding: .8rem;
    }
}


.modal__content--playlistContent{
    h2{
        color: $green;
        letter-spacing: .1rem;
        font-size: $typo-s;
    }
}

.img__user{
    height: 45%;
}

.wrapper{
    max-width: $wrapper;
    margin: 0 auto;
    position: relative;
}

.visible{
    display: block;
}
