.musicList {
  display: inline-block;
  margin-top: 2rem;
  width: 40rem;
}

.musicList__item {
  align-items: center;
  border-bottom: .1rem solid $green;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;
}

.musicList__img {
  height: 5rem;
  margin: .5rem 0 .5rem 0;
  width: 5rem;
}

.musicList__items {
  background: none;
  border: none;
  bottom: 1rem;
  position: absolute;
}

.musicList__items--like {
  right: 3rem;
}

.musicList__items--play {
  right: 6rem;
}

.musicList__like--hearth{
  border: none;
  background: url("../../img/hearth-red.png") no-repeat;
  height: 4.5rem;
  width: 4rem;
  opacity: 1;
  &.is-active {
    animation: hearth-animation 1.5s ease-in-out;
  }
}

@keyframes hearth-animation {
  15%{
    transform: scale(1.2);
  }
  30%{
    transform: scale(0.95);
  }
  45%,
  80%{
    transform: scale(1);
  }
}


.musicList__play--img {
  height: 4rem;
  width: 4rem;
}

.musicList__song {
  font-size: $typo-m;
  list-style: none;
  margin: 0;
  padding: 0;
}

.musicList__text {
  font-size: $typo-s;
  margin-top: 1rem;
  left: 8rem;
  position: absolute;
}

.musicList__p{
  margin-top: auto;
}

.musicList__text--album{
  bottom: 1rem;
  color: $green;
  font-size: $typo-xs;
  left: 8rem;
  position: absolute;
}

.musicList__title {
  color: $white;
  display: flex;
  font-size: $typo-m;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.musicList__title--active {
  border-bottom: .3rem solid $green;
  color: $green;
  padding-bottom: 1.5rem;
}

