.home__top {
  display: flex;
  justify-content: space-between;
}

.welcome__img {
  margin: 4rem 0 0 4rem;
}

.welcome__typo-green {
  color: $green;
  font-size: $typo-l;
  margin: .7rem 0 2rem 0;
}
